[user]
    name = Santhosh Kumar Tekuri
    email = santhosh.tekuri@gmail.com
[alias]
    root = rev-parse --show-toplevel
    vi = !vi -p $(git diff --name-only)
[core]
    excludesfile = ~/.gitignore
